@model List<InventoryMangament.Applictioncontract.inventory.LogOpertionviewmodel>
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">سوابق گردش انبار</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <thead>
        <tr>
        <th>#</th>
        <th>تعداد</th>
        <th>تاریخ</th>
        <th>عملیات</th>
        <th>موجودی فعلی</th>
        <th>عملگر</th>
        <th>توضیحات</th>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-white @(item.operation ? "bg-success" : "bg-danger")">
                <td>@item.id</td>
                <td>@item.count</td>
                <td>@item.date</td>
                <td>
                    @if (item.operation)
                    {
                        <span>افزایش</span>
                    }
                    else
                    {
                        <span>کاهش</span>
                    }
                </td>
                <td>@item.currentcount</td>
                <td>@item.operationname</td>
                <td>@item.disciption</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>